.bg_content {
    position: relative;
}
.about_us {
    max-width: var(--max-width);
    padding: 20px;
    margin: auto;
}
.about_content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
}
.about_us h1 {
    font-size: larger;
    margin-bottom: 20px;
}
.about_us h2 {
    font-size: 1.6rem;
    margin-bottom: 20px;
}
.about_us p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: 400;
}